pyrofork==2.3.45
tgcrypto
motor
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
telethon
python-dotenv
psutil
opencv-python-headless
devgagantools
aiofiles
pyrofork
aiohttp
telethon-tgcrypto
motor
pymongo
pytz
Pillow
tgcrypto
flask
werkzeug==2.2.2
mutagen
yt-dlp
requests
cryptography
